body {
  background: #F2F6F2;
}

.posts-list {
  margin: 40px auto;
  box-sizing: border-box;
  width: 605px;
  font-size: 19px;
  background: transparent;
}

.posts-list ul li {
  border: none;
  background: transparent;
}

.posts-list .panel-heading img {
  vertical-align: baseline;
}

.posts-list ul li {
  border: none;
}

.posts-list .panel-heading {
  border-bottom: 1px solid #aaa;
}
