{
  "blog": {
    "name": "BRALADOR",
    "title": "Bralador : Markdown dead simple static blog engine",
    "menu_title": "Posts"
  },
  "env": {
    "staging": "bralador",
    "prod": "www.bralador.com"
  }
}
